.purchasing-data-record-title {
	margin-top: 5px;
	height: 47px;
	line-height: 37px;
	border-bottom: 1px solid rgba(177, 168, 168, 0.5);
	font-size: 24px;
	font-weight: bold;
}

.goods-info {
	border-bottom: 1px solid rgba(177, 168, 168, 0.5);
}

.title {
	margin-top: 10px;
}

.form .am-input-group {
	margin: 5px 0;
}

.form .am-input-group .am-input-group-label {
	width: 124px;
	text-align: right;
}

.form .am-selected-btn {
	height: 38px;
}

.submit .left-button {
	width: 40%;
	display: inline-block;
	float: left;
}

.submit .right-button {
	width: 60%;
	display: inline-block;
	float: right;
}

.submit i.fa {
	margin-right: 5px;
}

.am-input-group>input.am-form-field {
	width: 200px;
}

.am-input-group>.radio-con>.am-radio {
	display: inline-block;
	float: left;
	width: 100px;
	padding: 0;
}

.radio-con {
	width: 200px;
	display: inline-block;
	float: left;
	height: 38px;
	line-height: 38px;
	border: 1px solid #ccc;
	/*border-left: none;*/
	text-align: center;
}