.purchasing-requisition-title {
    margin-top: 5px;
    height: 47px;
    line-height: 37px;
    border-bottom: 1px solid rgba(177, 168, 168, 0.21);
    font-size: 24px;
    font-weight: bold;
}

.purchasing-requisition-form {
    border-bottom: 1px solid rgba(177, 168, 168, 0.21);
}

.purchasing-requisition-form>ul {
    margin: 0;
    padding: 0;
}

.purchasing-requisition-form>ul>li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 37px;
    height: 37px;
    text-align: center;
}

.purchasing-requisition-form>ul>li>input {
    border: none;
    border-bottom: 1px solid rgba(177, 168, 168, 0.21);
}

.goods-list-title {
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    background-color: rgba(106, 195, 134, 0.1);
    border-bottom: 1px solid rgba(177, 168, 168, 0.21);
}

.goods-list-title i.fa {
    margin-right: 10px;
}
