.purchasing-requisition-title {
	margin-top: 5px;
	height: 47px;
	line-height: 37px;
	border-bottom: 1px solid rgba(177, 168, 168, 0.21);
	font-size: 24px;
	font-weight: bold;
}

.purchasing-requisition-form {
	border-bottom: 1px solid rgba(177, 168, 168, 0.21);
}

.purchasing-requisition-form>ul {
	margin: 0;
	padding: 0;
}

.purchasing-requisition-form>ul>li {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 37px;
	height: 37px;
	text-align: center;
}

.purchasing-requisition-form>ul>li>input {
	border: none;
	border-bottom: 1px solid rgba(177, 168, 168, 0.21);
}

.goods-list-title {
	font-weight: bold;
	line-height: 30px;
	padding-left: 10px;
	background-color: rgba(106, 195, 134, 0.1);
	border-bottom: 1px solid rgba(177, 168, 168, 0.21);
}

.goods-list-title>.add-good {
	height: 30px;
}

.goods-list-title>.add-good>i.fa {
	margin-right: 0;
}

.goods-list-title i.fa {
	margin-right: 10px;
}

.goods-list {
	margin: 0;
	padding: 0;
}

.goods-list>li {
	margin: 5px 0;
	padding: 10px 5px 5px;
	list-style: none;
	line-height: 30px;
	font-size: 14px;
	border-bottom: 1px solid rgba(177, 168, 168, 0.21);
	background-color: rgba(193, 222, 226, 0.37);
}

.goods-list>li input {
	width: 90%;
	border: none;
	border-bottom: 1px solid #C0C0C0;
	background-color: rgba(193, 222, 226, 0.03);
}

ul#goods-list>li.editEnable {
	background-color: #5eb95e;
	color: #FFFFFF;
}

.submit-form>div {
	display: inline-block;
	float: left;
}

.submit-form>div:nth-child(1) {
	width: 40%;
}

.submit-form>div:nth-child(2) {
	width: 60%;
}

.submit-form>div>button.am-btn>i.fa {
	margin-right: 8px;
}

.item-goods-info {
	text-align: left;
	padding-left: 3px;
}

#select-goods .am-modal-hd {
	padding: 5px 10px 5px 10px;
	background-color: #5eb95e;
	font-weight: bold;
	color: #FFFFFF;
}
#select-goods .am-modal-bd{
	font-size: 14px;
	padding: 0;
	border-bottom: none;
	background-color: #fff;
	text-align: left;
} 
#select-goods .am-modal-bd .categoryList{
	margin: 0;
	padding: 0;
}
#select-goods .am-modal-bd .categoryList>li{
	margin: 0;
	padding: 0;
	list-style: none;
}

#select-goods .am-modal-bd input.am-form-field{
	font-size: 14px;
}

#select-goods .am-modal-bd .search-recently>.am-badge{
	margin: 3px 5px;
}
#select-goods .am-modal-bd .clear-search-recently{
	padding-top: 5px;
}
#select-goods .am-modal-bd .clear-search-recently,
#select-goods .am-modal-bd .search-recently,
#select-goods .am-modal-bd .search-result{
	border-top: 1px solid #C0C0C0;
	margin-top: 5px;
}
