.show-all-procurement-title {
	margin-top: 5px;
	height: 47px;
	line-height: 37px;
	border-bottom: 1px solid rgba(177, 168, 168, 0.5);
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}
.am-panel-group .am-panel-hd+.am-panel-collapse .am-panel-bd{
	padding: 0;
	border:none;
}
.am-panel-bd .am-table {
	border-collapse:collapse;
	margin-bottom: 0;
	border-bottom: none;
}
.am-panel-hd h4{
	font-size: 14px;

}

.am-panel-hd .am-btn{
	font-size: 12px;
	margin-top: -3px;
}