<!doctype html>
<html class="no-js" ng-app="app">

    <head>
        <meta charset="utf-8">
        <!-- 全屏显示 开始设置-->
        <meta name="full-screen" content="yes"/>
        <meta name="x5-fullscreen" content="true"/>
        <!-- 全屏显示 结束设置-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>采购队列-YunERP管理系统</title>
        <!-- Set render engine for 360 browser -->
        <meta name="renderer" content="webkit">
        <!-- No Baidu Siteapp-->
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <link rel="icon" type="image/png" href="../../img/common/favicon.png">
        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content=""/>
        <link rel="apple-touch-icon-precomposed" href="../../img/common/app-icon72x72@2x.png">
        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="../../img/common/app-icon72x72@2x.png">
        <meta name="msapplication-TileColor" content="#0e90d2">
        <!-- 隐藏状态栏/设置状态栏颜色 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
        <link rel="stylesheet" href="../../bower_components/amazeui/dist/css/amazeui.min.css">
        <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="./procurement_queue.css">
    </head>

    <body ng-controller="procurement-queue-controller">
        <div class="am-g head-title">
            <div class="am-u-sm-2 go-back">
                <a href="javascript:history.back(-1);">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
            </div>
            <div class="am-u-sm-8 am-text-center">
                采购队列
            </div>
            <div class="am-u-sm-2 am-text-right profile_edit">
                <!--<a href="../quotation_of_prices/index.html">
					<i class="fa fa-superpowers" aria-hidden="true"></i>
				</a>-->
            </div>
        </div>
        <div class="am-text-danger am-text-center" ng-bind="errMsg" ng-if="errMsg"></div>
        <div ng-if="!errMsg">
            <div class="title-bg the-title">
                <h4 class="am-panel-title" ng-bind="rep.need_time"></h4>
            </div>
            <ul class="am-list">
                <li ng-repeat="good in rep.goodlist" class="container-bg">
                    <div class="am-g  goods-name">
                        <div class="am-u-sm-7">
                            商品：<strong class="am-text-success" ng-bind="good.product_name"></strong>
                        </div>
                        <div class="am-u-sm-5 am-text-right">
                            <a href="../procurement_order/index.html?product_id={{good.product_id}}&req_qty={{good.req_qty}}&need_time={{rep.need_time}}" class="am-btn am-btn-primary am-btn-xs am-radius">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                详情
                            </a>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-6">
                            采购量:
                            <strong class="am-text-success" ng-bind="good.req_qty+good.quality"></strong>
                        </div>
                        <div class="am-u-sm-6">
                            参考价：
                            <strong class="am-text-success" ng-bind="good.price_ref"></strong>元/<span ng-bind="good.quality"></span>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            贷款估算：<strong class="am-text-success" ng-bind="good.req_qty*good.price_ref"></strong>元
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            使用单位：<span class="am-badge am-badge-default am-radius" ng-repeat="p in good.projectlist" ng-bind="p.project_name"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
            <div class="am-modal-dialog">
                <!--<div class="am-modal-hd">Amaze UI</div>-->
                <div class="am-modal-bd"></div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                    <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                </div>
            </div>
        </div>
        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../bower_components/amazeui/dist/js/amazeui.min.js"></script>
        <script src="../../bower_components/angular/angular.min.js" charset="utf-8"></script>
        <!--<![endif]-->
        <!--[if lte IE 8 ]> <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script> <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script> <script src="assets/js/amazeui.ie8polyfill.min.js"></script> <![endif]-->
        <script src="./procurement_queue.js"></script>
    </body>

</html>
