<!doctype html>
<html class="no-js" ng-app="app">

    <head>
        <meta charset="utf-8">
        <!-- 全屏显示 开始设置-->
        <meta name="full-screen" content="yes"/>
        <meta name="x5-fullscreen" content="true"/>
        <!-- 全屏显示 结束设置-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>采购派单-YunERP管理系统</title>
        <!-- Set render engine for 360 browser -->
        <meta name="renderer" content="webkit">
        <!-- No Baidu Siteapp-->
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <link rel="icon" type="image/png" href="../../img/common/favicon.png">
        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content=""/>
        <link rel="apple-touch-icon-precomposed" href="../../img/common/app-icon72x72@2x.png">
        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="../../img/common/app-icon72x72@2x.png">
        <meta name="msapplication-TileColor" content="#0e90d2">
        <!-- 隐藏状态栏/设置状态栏颜色 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
        <link rel="stylesheet" href="../../bower_components/amazeui/dist/css/amazeui.min.css">
        <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="./procurement_order.css">
    </head>

    <body ng-controller="procurement-order-controller">
        <div class="am-g procurement-order-title">
            <div class="am-u-sm-2 go-back">
                <a href="javascript:history.back(-1);">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
            </div>
            <div class="am-u-sm-8 am-text-center">
                采购派单
            </div>
            <div class="am-u-sm-2 am-text-right profile_edit">
                <!--<a href="../quotation_of_prices/index.html">
					<i class="fa fa-superpowers" aria-hidden="true"></i>
				</a>-->
            </div>
        </div>
        <div class="goods-info">
            <div class="am-g  goods-name">
                <div class="am-u-sm-12">
                    商品：<strong class="am-text-success" ng-bind="rep.product_name"></strong>
                </div>
            </div>

            <div class="am-g">
                <div class="am-u-sm-6">
                    采购量:
                    <strong class="am-text-success" ng-bind="rep.req_qty+rep.unit_name"></strong>
                </div>
                <div class="am-u-sm-6">
                    参考价：
                    <strong class="am-text-success" ng-bind="rep.price_ref"></strong>元/<span ng-bind="rep.unit_name"></span>
                </div>
            </div>
            <!-- <div class="am-g">
                <div class="am-u-sm-12">
                    贷款估算：<strong class="am-text-success" ng-bind="rep.req_qty*rep.price_ref"></strong>元
                </div>
            </div> -->
            <div class="am-g">
                <div class="am-u-sm-12">
                    使用单位：<span class="am-badge am-badge-default am-radius" ng-repeat="p in rep.projectlist" ng-bind="p.project_name"></span>
                </div>
            </div>
        </div>
        <div class="the-form">
            <div>
                <strong>供货商:</strong>
                <select data-am-selected ng-model="req.supplier_id">
                    <option ng-value="p.supplier_id" ng-bind="p.supplier" ng-repeat="p in rep.supplierlist"></option>
                </select>
            </div>
            <div>
                <strong>通知:</strong>
                <div class="am-checkbox-con">
                    <label class="am-checkbox">
                        <input type="checkbox" ng-true-value="1" ng-false-value="0" data-am-ucheck ng-model="req.notice" ng-init="req.notice=1">
                        发送通知
                    </label>
                </div>
            </div>
            <div class="price">
                <strong>单价:</strong>
                <input type="text" ng-model="req.price_ref" ng-init="req.price_ref=rep.price_buy"></input>元/{{rep.unit_name}} <i>({{rep.price_buy}})</i>
                <!-- <button type="button" class="am-btn am-btn-success am-round am-btn-xs">对比价格</button> -->
            </div>
            <div>
                <strong>货款:</strong>
                <span class="am-text-success" ng-bind="rep.req_qty*rep.price_ref"></span>元<i>(预估)</i>
            </div>
            <div>
                <strong>采购员:</strong>
                <select data-am-selected ng-model="req.user_id">
                    <option ng-value="buyer.user_id" ng-bind="buyer.truename" ng-repeat="buyer in rep.buyerlist"></option>
                </select>
            </div>
        </div>

        <div class="am-btn-group am-btn-group-justify submit">
            <a class="am-btn am-btn-danger" role="button" href="javascript:history.back(-1);">
                <i class="fa fa-times" aria-hidden="true"></i>
                取消
            </a>
            <a class="am-btn am-btn-success" role="button"  ng-click="submit()">
                <i class="fa fa-check" aria-hidden="true"></i>
                提交
            </a>

        </div>
        <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
            <div class="am-modal-dialog">
                <!--<div class="am-modal-hd">Amaze UI</div>-->
                <div class="am-modal-bd"></div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                    <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                </div>
            </div>
        </div>

        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../bower_components/amazeui/dist/js/amazeui.min.js"></script>
        <script src="../../bower_components/angular/angular.min.js" charset="utf-8"></script>
        <!--<![endif]-->
        <!--[if lte IE 8 ]> <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script> <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script> <script src="assets/js/amazeui.ie8polyfill.min.js"></script> <![endif]-->
        <script src="./procurement_order.js"></script>
    </body>

</html>
